# JWT_SECRET=

# CLOUDINARY_CLOUD_NAME=""
# CLOUDINARY_API_KEY=""
# CLOUDINARY_API_SECRET=""
# CLOUDINARY_API_ENVIROMENT_VARIABLE=""

# GEMINI_API_KEY=""
# GEMINI_PROJECT_NAME="projects/407782458084"
# GEMINI_MODEL_NAME="gemini-1.5-pro"

# PORT=3000
# NEXT_PUBLIC_API_URL=""