# DATABASE_URL="mysql://root:Sbs@1234@localhost:3306/sbs_web_db?allowPublicKeyRetrieval=true"
# DB_USER="root"
# DB_PASSWORD="Sbs@1234"
# DB_NAME="sbs_web_db"

# CLOUDINARY_CLOUD_NAME=""
# CLOUDINARY_API_KEY=""
# CLOUDINARY_API_SECRET=""
# CLOUDINARY_API_ENVIRONMENT_VARIABLE=""

# GEMINI_API_KEY=""

# SMTP_PASS=""
# GMAIL_APP_NAME=""
# SMTP_USER=""

# JWT_SECRET=

# CORS_ORIGINS="http://localhost:3000,http://127.0.0.1:3000,https://yourdomain.com"

# DISABLE_AUTH="false
# PORT=4000